  .grid__item {
    width: 900px;
    height: 520px;
    margin: 0 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;;
    transition: 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  }



.grid__item.is-expanded {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
opacity: 1;
}

.figure_container{
    display: grid;
    border-bottom: 3px solid rgb(30, 47, 51);
    justify-content:center;
    padding: 10px;
    padding-bottom: 5px;
    margin-bottom:50px ;
}

.figure_container p{
    margin: 20px;
    text-align: center;
    font-style: italic;
    color:rgb(168, 175, 175);
}